*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.07em;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  padding: 133px 30px;
  inline-size: 100%;
  block-size: 100%;
}

.result {
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  align-items: start;
  gap: 40px;
  inline-size: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 6px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  inline-size: fit-content;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  padding-block-end: 2px;
  color: rgb(255 255 255/ 0.7);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.05em;
  background-color: transparent;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:active {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  margin-inline-end: 5px;
  border: 1px solid #fff;
  vertical-align: middle;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline solid #fff 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:has(input[name="time"]):active {
  outline: none;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  content: '';
  position: absolute;
  display: block;
  background-color: #fff;
  inset-inline-start: 1px;
  inset-block-start: 1px;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
  block-size: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  inline-size: 100%;
  block-size: 534px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  padding-inline-end: 3px;
  overflow-y: scroll;
  block-size: 298px;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 33px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline solid #fff 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  margin-inline-start: 1px;
  hyphens: auto;
}

.content__video-card-title {
  margin-block-start: 2px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  margin-block-start: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__video-card-thumbnail {
  inset: 0;
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.more-button {
  inline-size: 399px;
  block-size: 34px;
}
