*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  place-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  /* align-items: end; */
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 133px 30px;
}

.result {
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: start;
  /* justify-content: flex-start; */
  gap: 40px;
  width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  appearance: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 6px;
  padding-bottom: 2px;
  letter-spacing: -0.05em;
  width: 225px;
}

.search-form__textfield:focus {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:active {
  outline: 1px solid transparent;
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
  margin-top: 7px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}


.search-form__submit-button {
  letter-spacing: 0.0005em;
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.content__details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  width: 100%;
  height: 534px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  padding-block-start: 2px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: scroll;
  padding-right: 2px;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__list-item:hover {
  text-decoration: underline solid #fff 1px;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}

.content__list-item:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 1px 2px 2px;
}

.content__video-card-description-container {
  flex-grow: 1;
  hyphens: auto;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
  margin-top: 5px;
}

.content__video-card-thumbnail {
  width: 193px;
  height: 103px;
  inset: 0;
  object-fit: cover;
  object-position: right;
}

.button {
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: -0.07em;
  cursor: pointer;
}

button:active {
  background-color: #545050;
}

.more-button {
  width: 100%;
  height: 34px;
}

